html {
  background-image: url('./image/background.png');
  background-position: center center;
  background-repeat: repeat-x;
  background-size: auto;
  height:100%;
  max-width: 5000px;
}
body{
  max-width: 5000px;
}

#fuel{
  position: relative;
  visibility: visible;
}

#plane{
  position: absolute;
  left:0;
  top:0;
  visibility: visible;
}
#startConsole{
  border-color: lightblue;
  color:white;
  display:block;
  visibility: visible;
  align-content: center;
  width:200px;
  position: absolute;
  top:30%;
  left: 50%;
  text-align: center;
  padding:10px;
  border:4px;
  border-radius: 10px;
  background-color: Black;
}

#title{
  display:block;
  visibility: visible;
  font-style: oblique;
  font-size: large;
  text-align: center;
  font-weight: bold;
  position: absolute;
  align-content: center;
  left: 49%;
  top:10%;
}

#explotion{
  left:5000px;
  top:440px;
  position: absolute;
  visibility: hidden;
}

#rescued{
  left:0;
  top:0;
  position: absolute;
  visibility: hidden;
}

#congrats{
  border-color: lightblue;
  color:white;
  left:0;
  top:10%;
  position: absolute;
  visibility: hidden;
  width:200px;
  text-align: center;
  padding:10px;
  border:4px;
  border-radius: 10px;
  background-color: Black;
}

#failure{
  left:5000px;
  border-color: lightblue;
  color:white;
  top:10%;
  position: absolute;
  visibility: hidden;
  width:200px;
  text-align: center;
  padding:10px;
  border:4px;
  border-radius: 10px;
  background-color: Black;
}
